<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Server=(local)\SQLExpress;initial catalog=nhibernate;Integrated Security=SSPI"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
